.search_result_row .col.search_released{
    line-height: 22px!important;

}
.search_result_row .col.search_released p{
    position: absolute;
    bottom: 0;
}

.search_result_row .col.search_price {
    width: 80px!important;
}

.search_result_row.red{
    background: rgba(255,97,56,0.8);
}
.search_result_row.yellow{
    background: rgba(222,157,27,0.8);
}
.search_result_row.green-1{
    background: rgba(147,207,77,0.8)
}
.search_result_row.green-2{
    background: rgba(59,189,107,0.8)
}
.search_result_row.green-3{
    background: rgba(23,146,163,0.8)
}

.tab_item.red{
    background: rgba(255,97,56,0.8);
}
.tab_item.yellow{
    background: rgba(222,157,27,0.8);
}
.tab_item.green-1{
    background: rgba(147,207,77,0.8)
}
.tab_item.green-2{
    background: rgba(59,189,107,0.8)
}
.tab_item.green-3{
    background: rgba(23,146,163,0.8)
}
